body {
  background: #d9d9d9;
}

/* menu */

.menu {
  display: flex;
}

.menu-item {
  background: gold;
  width: 25%;
  /* flex: 1 1 auto;  */
  text-align: center;
  transition: 0.5s;
}

.menu-item:hover {
  background: crimson;
  width: 35%;
  /* flex: 1.5 1 auto; */
}

.menu-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #555;
  padding: 1em;
  font-size: 1.2rem;
}

.menu-link:hover {
  color: white;
}

/* search */
.search-form {
  display: flex;
  height: 40px;
}

.search-form input[type="search"] {
  flex: 1;
  border: none;
  border-radius: 0.3em;
  font-size: 1rem;
}

.search-form input[type="submit"] {
  width: 4em;
  background: gold;
  border-radius: 0.3em;
  border: none;
  padding: 1em auto;
  margin: 0 0.5rem;
}

/* bullet list */
.info-list-item {
  display: flex;
  margin: 0.5em 0;
}
.info-list-item:before {
  content: "💖";
  margin-right: 0.5em;
}

/* message */
.user-item {
  display: flex;
  margin-bottom: 1.5em;
}

.user-photo {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  /* flex: 0 0 auto */
  flex-shrink: 0;
}

/* friend list */
.friend-item {
  align-items: center;
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
