/* menu */

.menu {
  display: flex;
}

.menu-item {
  background: gold;
  width: 25%;
  /* flex: 1 1 auto;  */
  text-align: center;
  transition: 0.5s;
}

.menu-item:hover {
  background: crimson;
  width: 35%;
  /* flex: 1.5 1 auto; */
}

.menu-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #555;
  padding: 1em;
  font-size: 1.2rem;
}

.menu-link:hover {
  color: white;
}
